body {
  font-family: 'Pretendard Variable', sans-serif;
  word-break: keep-all;
}
img {
  display: block;
}
.logo {
  max-width: 150px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.logo img {
  max-width: 100%;
}
.page-title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}
.page-subtitle {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}
.btn {
  width: 100%;
  max-width: 300px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  transition: 0.1s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.btn-pink {
  background-color: #e10098;
  /* box-shadow: 0 10px 0 #800057; */
}
.btn-pink:hover {
  background-color: #f25bc2;
}
.btn-purple {
  background-color: #7248bd;
}
.btn-purple:hover {
  background-color: #b183ff;
}
/* .btn-green:active {
  box-shadow: 0 4px 0 #299a82;
  transform: translateY(10px);
} */
.btn-gray {
  box-sizing: border-box;
  max-width: 440px;
  height: 100px;
  border-radius: 15px;
  justify-content: start;
  padding: 0 30px;

  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgb(247, 247, 247);
  color: #444444;
  margin-bottom: 12px;
}
.btn-gray:hover {
  background-color: #e10098;
  color: #ffffff;
}

@media (max-width: 640px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}
