body {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-title {
  margin-top: 80px;
}
.character {
  max-width: 364px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
